
.container {
display: flex;
flex-wrap: wrap;
}
$FavColor:  #0CDADD;
$enable-responsive-font-sizes: "true";
 /*body {background-image: url("14092.jpg");} */
 body{height:100%;
   width:100%;

   background-image:url("abs33.png");
   /*your background image*/
   background-repeat:repeat;

   /*we want to have one single image not a repeated one*/
   background-size:cover;
   /*sets the img to fullscreen covering the whole screen*/

 }

 h1.h001 {@extend %Regu_Head;}
  ol{
    ul{
      li {@extend %Regu_List;}}}

  ol{
    font-size: 20px;
    background-color: white;
    border-color: #555555;
    border-style: solid;
    border-width: medium;

  /*padding: 12px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 12px;}
/*@media (max-width: 700px) {
width: 100%;}
}


  /* %%%%%% variables: variables: variables %%%%%%%% */
%Regu_List{
font-size: 20px;
background-color:white;

}
%Regu_Head{
  background-color: $FavColor;
  /* font-family: sans-serif; */
  padding: 15px 32px;
  margin:30px;
  width:50%;
  height:30%;
  text-align: center;
  @media (max-width: 650px){ width:80%;}
}

%Regu_text{
  /* font-family: arial; */
  font-size: 24px;
}

%Regu_Textbox{
  background-color: $FavColor;
  padding:20px;
  margin:30px;
  width:50%;
  height: inherit;
padding: 15px 32px;
  border-color: gray;
  border-style:solid;
  border-width: thick;
  @media (max-width: 650px){
    width:80%;
  height: inherit;}
}

%Regu_Button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px;
  @media (max-width: 499px){margin: 10px;}
}

%Login_Button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 35px;
  font-size: 14px;
  margin: 10px;
  font-weight: bold;

  @media (max-width: 499px){margin: 10px;}
}

%Home_Button{
  background-color: #4CAF50;
  border: none;
  margin-left: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 3px; */
  border-style: solid; border-width: medium;


  @media (max-width: 499px){margin: 10px;}
}
#input_F{
  background-color: #263534;

  width: 100%;
  height: 20%;
    @media (max-width: 499px){height: 60%;}
}

%Regue_Open_input{
  margin-left: 20px;
padding-bottom: 20%;
font-size: 18px;
padding-left: 5px;

  height: 30%;
  width: 50%;
    @media (max-width: 650px){padding-bottom: 40%;
    width: 80%; }
}

%input_EE {
  /*margin:30px; */
  color:orange;
  background-color: #555555; /* dark gary */
  height: 35px;
  padding: 0px 5px;

font-family: arial;
font-size: 14px;
font-style:normal;
margin-left:10px;
border-color: #686868; /* light gray */
border-style:solid;
}


/*#IDs are for exact elements through the website 001 to 1000*/
#p001{ @extend %Regu_text;}
 #main001 {@extend %Regu_Textbox;}


#in_N_main  {
  @extend %input_EE;
  :focus {  background-color: #696969; border-color: #686868; }
}
#in_N_main::placeholder{ color: orange;}

#in_P_main{
  @extend %input_EE;
  :focus {  background-color: #696969; border-color: #686868; }
}
#in_P_main::placeholder{ color: orange;}
.home_P { @extend %Home_Button;}
.open_input{@extend %Regue_Open_input;}
.open_input:focus{font-size: 18px;}
.next_P  { @extend %Regu_Button;}
.login { @extend %Login_Button;}
caption.table_Cap{
  margin-left: 10px;
   /* for all  tables_caption*/
}
h2{@extend %Regu_Head;}


#table_Center{
     /* table_Center is a <div> */
  margin: 15px;
  background-color: white;
  #tab001{
    /* for this exact table*/
    thead{font-size: 20px;}
    border-style: solid;
    border-color: #555555;
    box-sizing: border-box;
    tbody{  font-weight: bold;}
  }
}
 /* //// end of @media min-width 500px>>>>>>>>>>>>>>> */
