<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styling.css">

<meta name="viewport" content="width=device-width, intail-scale=1.0, shrink-to-fit=no"/>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">

<head>
  <title> LEARNER </title>
  <h1 class="h001"> Testing and Practice </h1>
</head>

<body>
  <ol>
    <li>
       Testing testing teeeeesting teeeeestinggggggggggs
    </li>
    <li>
      the pathon code for such a website must be intresting...
    </li>
  </ol>

  <a class="home_P" href="new_Starter.html">
    Home Page
    </a>

</body>
